.loading {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 0;
  display: none;
}

.loading li {
  height: 0;
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  margin: 0;
  height: 10px;
  width: 10px;
  border: 3px solid #2b8ccd;
  border-radius: 100%;
  -webkit-transform: transformZ(0);
          transform: transformZ(0);
  -webkit-animation: LOADING 2s infinite;
          animation: LOADING 2s infinite;
}
.loading li:nth-child(1n) {
  left: -20px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.loading li:nth-child(2n) {
  left: 0;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.loading li:nth-child(3n) {
  left: 20px;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@-webkit-keyframes LOADING {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    background: #2b8ccd;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: white;
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    background: #2b8ccd;
  }
}

@keyframes LOADING {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    background: #2b8ccd;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: white;
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    background: #2b8ccd;
  }
}
